.brandSection {
  padding: 0;
}

.brandTitle {
  font-size: 2em;
  margin-bottom: 20px;
}

.brandSubsection {
  margin-bottom: 20px;
}

.brandSubtitle {
  font-family: "Playfair Display";
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

.brandParagraph {
  font-size: 1.4rem;
  line-height: 33px; /* 150% */
  letter-spacing: 0.44px;
  text-transform: capitalize;
}
