@use "../../assets/basecss/color"; // Import color module

.wrapperItem {
  width: 100%; // Set wrapper width to 100%
  height: 100%; // Set wrapper height to 100%
  padding: 0;
  position: relative;
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 0; // Set top position to 0
    left: 0; // Set left position to 0
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
  }
  img {
    width: 100%; // Set image width to 100%
    height: 100%; // Set image height to auto
    // max-height: 641.5px;
    object-fit: cover; // Set image to cover the container
    object-position: center; // Center the image in the container}
  }
  .content {
    position: absolute;
    top: 50%; // Set top position to 50%
    left: 30%; // Set left position to 50%
    transform: translate(-50%, -50%); // Translate the position to center
    text-align: center;
    z-index: 1;
    .title {
      padding: 15px;
      color: color.$textWhite; // Set text color to white
      font-family: "Playfair Display";
      font-size: 3.9rem;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      text-transform: uppercase;
      &:hover {
        transform: scale(1.05); // Scale the text to 1.1
      }
    }
  }
}
