@use "../basecss/color"; // Import color variables
@use "../basecss/height"; // Import height variables
$navLink-width: clamp(
  8rem,
  4.4rem + 4.9vw,
  10.875rem
); // Define a responsive width for navigation links

.wrapper {
  position: fixed; // Fix the header at the top
  top: 0;
  right: 0;
  left: 0;
  z-index: 9; // Ensure the header is above other elements
  padding: 0;
  height: height.$header-height; // Set height from imported variable
  max-height: height.$header-height; // Set maximum height from imported variable
  background-color: color.$primaryColor; // Set background color from imported variable
  color: #fff; // Set text color to white
  display: flex;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1rem; // Add padding to the sides
  }

  .logo {
    padding: 10px;
    font-family: "Playfair Display"; // Set font family
    font-size: 3.2rem; // Set font size
    font-style: normal;
    font-weight: 600; // Set font weight
    line-height: normal;
    text-transform: uppercase; // Transform text to uppercase
  }

  .toggle {
    display: none; // Hide toggle button by default
    cursor: pointer; // Change cursor to pointer on hover
  }

  .icon {
    padding: 1rem;
    color: color.$textWhite; // Set icon color from imported variable
    font-size: 2rem; // Set icon size
  }

  .collapse {
    display: flex;
    flex-direction: row;
    align-items: center;

    &.show {
      display: flex; // Show the collapse menu when active
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .navItem {
    min-width: $navLink-width; // Set minimum width for navigation items
    text-align: center;
    margin-left: 1rem;
    margin-right: 1rem;

    .navItemLink {
      display: block;
      padding: calc((height.$header-height/2) - 1.6rem) 5px;
      font-family: Lato; // Set font family
      font-size: 1.8rem; // Set font size
      text-transform: capitalize; // Capitalize text
      color: color.$textWhite; // Set link color from imported variable
      &:hover {
        color: color.$textBlack; // Change color on hover
        background-color: color.$hoverColor; // Change background color on hover
      }
    }
  }

  .cart {
    display: flex;
    align-items: center;
  }

  @media (max-width: 767.98px) {
    .toggle {
      display: block; // Show toggle button on small screens
    }

    .collapse {
      position: fixed; // Fix the collapse menu at the top
      top: height.$header-height; // Set top position from imported variable
      left: 0;
      right: 0;
      display: none; // Hide collapse menu by default on small screens
      flex-direction: column;
      width: 100%;
      background-color: color.$secondaryColor; // Set background color from imported variable
    }

    .nav {
      flex-direction: column; // Stack navigation items vertically
      width: 100%;
    }

    .navItem {
      width: 100%; // Set width to 100% for navigation items
      margin: 0;

      .navItemLink {
        display: block;
        padding: 1rem;
        width: 100%; // Set width to 100% for links
        color: color.$blue;
      }
    }
  }
}
