@use "../basecss/color";
@use "../basecss/height";

.wrapper {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9;
  padding: 0;
  max-height: height.$header-height;
  background-color: color.$primaryColor;
  color: #fff;

  .logo {
    padding: 10px;
    font-family: "Playfair Display";
    font-size: 3.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
  }
  .icon {
    padding: 2rem;
    color: color.$textWhite;
    font-size: 2rem;
  }
}
.navItem {
  min-width: 11rem;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
  .navItemLink {
    font-family: Lato;
    font-size: 1.8rem;
    text-transform: capitalize;
    &:hover {
      color: color.$textBlack;
      background-color: color.$hoverColor;
    }
  }
}
