$darkblue: #0a1622;
$smoky-gray: #d9d9d9;
$black: #292929;
$blue: #203c4f;
$white: #fff;
$darkgray: #333;

$primaryColor: $darkblue;
$secondaryColor: $smoky-gray;
$textBlack: $black;
$textBlue: $blue;
$textWhite: $white;
$textDarkgray: $darkgray;
$hoverColor: $smoky-gray;
$borderColor: $smoky-gray;
$link : #003399
