@use "../../assets/basecss/color";
.wrapper {
  width: 100%;
  height: 100%;
  padding: 0;
  text-align: center;
}

.collection_infor {
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    //use tag img with function like background: rgba(...) filter: brightness(0.5); // Applies a dark overlay to the image for better text visibility
  }
}
.collection_image {
  width: 100%;
  height: 100%;
  max-height: 670px;
  object-fit: cover;
  object-position: center;
  filter: brightness(
    0.2
  ); // Applies a dark overlay to the image for better text visibility
}
.collection_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: color.$textWhite;
  opacity: 0;

  &.visible {
    animation: backInUp 0.8s ease-out;
    opacity: 1; // Animation for the content
  }
}
.collection_title {
  font-size: 6.5rem;
  font-weight: 500;
  text-transform: capitalize;
}
.collection_desc {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  line-height: 30px;
  font-style: normal;
}

@media (max-width: 767.98px) {
  .collection_title {
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: capitalize;
  }
  .collection_desc {
    margin-top: 1rem;
    font-size: 1.6rem;
    line-height: 25px;
    font-style: normal;
  }
}
@keyframes backInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) translateY(200px); // Combine centering and animation
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) translateY(0); // Maintain centering
  }
}
