$darkblue: #0a1622;
$smoky-gray: #d9d9d9;
$black: #000;
$blue: #203c4f;
$white: #fff;

$primaryColor: $darkblue;
$secondaryColor: $smoky-gray;
$textBlack: $black;
$textBlue: $blue;
$textWhite: $white;
$hoverColor:$smoky-gray;