@use "../../assets/basecss/color"; // Import color variables
@use "../../assets/basecss/height"; // Import height variables

.wrapper {
  background-color: color.$secondaryColor;
  color: color.$textBlue;
  font-size: 1.5rem;
  line-height: 166.667%; /* 166.667% */
  .brandName {
    color: color.$textBlue;
    /* logo */
    font-family: "Playfair Display";
    font-size: 3.2rem;
    font-weight: 600;
    padding: 20px 20px 15px 0;
    text-transform: uppercase;
  }
  .info {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    line-height: 40px;
    padding: 0;
    .icon {
      padding: 0 10px;
    }
  }
}

@media (min-width: 767.98px) {
  .wrapper {
    .info {
      justify-content: center;
    }
  }
}
